.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  padding-top: 60px;
  margin-bottom: 30px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
  }
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
    padding-bottom: 94px;
  }
}

.section.hero {
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/header_img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/header_img.jpg);
  background-size: 480px 400px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/img/header_img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/header_img@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .section.hero {
    background-color: #c4c4c4;
    outline: 1px solid black;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/header_img_tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/header_img_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/img/header_img_tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/header_img_tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section.hero {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/hero-desctop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/hero-desctop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("/img/hero-desctop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-desctop@2x.jpg");
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 118px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0;
    padding-top: 200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 2 * 15px);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  max-width: 370px;
  margin: 0 auto;
}

.modal-title {
  color: #000;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-height: 581px;
    min-width: 528px;
  }
  .modal-form {
    width: 448px;
    margin: 0 auto;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-field.policy {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
}

.form-field .label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-field label[for="policy"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.input-box {
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transform: border;
          transform: border;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  -webkit-transform: border;
          transform: border;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.button.send {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transform: background-color;
          transform: background-color;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.send:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 480px) {
  .button.send {
    margin-top: 0;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: #000000;
  padding: 0;
  line-height: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: fill;
          transform: fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  fill: #2196f3;
}

.input-box:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.form-icon {
  position: absolute;
  fill: #212121;
  top: 35px;
  left: 12px;
  -webkit-transform: fill;
          transform: fill;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:hover + .form-icon {
  fill: #2196f3;
}

.checkbox {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  position: relative;
  margin-right: 9px;
}

.checkbox:checked + .checkbox-icon {
  fill: none;
  border: transparent;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url(../img/checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.policy-link {
  color: #2196f3;
}

.policy-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 118px;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
}

.button-wrapper {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .button {
    margin-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .button {
    background-color: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 200px;
    padding: 10px 32px 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 200px;
    height: 50px;
  }
  .button-wrapper {
    text-align: center;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container.features {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .container.features {
    padding-top: 94px;
  }
}

.list-item {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  height: 120px;
}

.list-item .icon {
  margin: auto;
}

@media screen and (min-width: 480px) {
  .list-item {
    max-width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .list-item {
    width: 270px;
  }
}

.feature-list {
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}

.feature-list .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.feature-list:nth-last-child(1) .text {
  margin: 0;
}

.feature-list_item:not(:last-child) {
  margin-bottom: 30px;
}

.feature-list:last-child {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0px;
    margin: 0;
  }
  .feature-list_item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .feature-list_item:first-child {
    margin-bottom: 30px;
  }
  .feature-list .title {
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .feature-list .text {
    color: #757575;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;
  }
  .feature-list_item {
    width: calc((100% - 2 * 15px) / 2);
  }
  .feature-list .title {
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .feature-list .text {
    color: #757575;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;
  }
  .feature-list_item {
    width: 270px;
  }
  .feature-list .title {
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .feature-list .text {
    color: #757575;
    margin-bottom: 0;
  }
}

.section.whatwedo {
  display: none;
}

@media screen and (min-width: 768px) {
  .section.whatwedo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.whatwedo-list {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .whatwedo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 94px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .whatwedo-list {
    padding-bottom: 0;
  }
}

.whatwedo-list_item {
  position: relative;
  width: 370px;
  height: 294px;
}

.whatwedo-list_title {
  position: absolute;
  bottom: 0;
  margin-bottom: auto;
  text-align: center;
  padding-top: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: inherit;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.employees-section {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employees-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.employees-list .text {
  color: #757575;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  .employees-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0px;
    margin: 0;
  }
  .employees-list .text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .employees-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0px;
    margin: 0;
  }
  .employees-list .text {
    margin-bottom: 16px;
  }
}

.employee.box {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.employee.box:not(:last-child) {
  margin-bottom: 30px;
}

.employee.box .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .employee.box {
    width: calc((100% - 2 * 15px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .employee.box {
    width: 270px;
  }
}

.employee_photo {
  width: 100%;
}

.employee-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .employee-links {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

.link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
}

.link-box:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 50%;
  -webkit-transform: background-color;
          transform: background-color;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.link-box:hover .link-icon {
  fill: #ffffff;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  margin: auto;
  fill: #afb1b8;
}

.client-box {
  width: calc((100% - 2 * 15px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-bottom: 30px;
}

.client-box:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.client-box:hover, .client-box:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-box .icon {
  margin-bottom: 16px;
  margin-top: 16px;
  fill: #afb1b8;
}

.client-box:hover .icon,
.client-box:focus .icon {
  fill: #2196f3;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .client-box {
    width: calc((100% - 2 * 15px) / 3);
    height: 92px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .client-box {
    width: 170px;
    height: 92px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
}

.list.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .list.clients {
    list-style: none;
    padding-left: 0px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .list.clients {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container.clients {
    padding-bottom: 94px;
  }
}

.container.nav {
  max-width: 100vw;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .container.nav {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .container.nav {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 480px) {
  .menu-toggle {
    display: none;
  }
}

.toggle-icon:hover {
  fill: #2196f3;
}

.menu-container {
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding-left: 40px;
}

@media screen and (min-width: 480px) {
  .menu-container {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.navigation_list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .navigation {
    display: none;
  }
}

.navigation_list--item:hover {
  color: #2196f3;
}

.navigation_list--item:not(:last-child) {
  margin-bottom: 35px;
}

.contacts_list {
  padding-left: 0;
  list-style: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts_phone {
  color: #2196f3;
  margin-bottom: 32px;
}

.contacts_mail {
  font-size: 24px;
  line-height: 1.16px;
  color: #757575;
}

.social_list {
  padding-left: 0;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_item:not(:last-child):after {
  content: "";
  display: inline-block;
  background-image: url(/img/mediator.svg);
  width: 1px;
  height: 22px;
  background-size: contain;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 93px;
}

.logo-half-one {
  color: #2196f3;
}

.logo-half-two {
  color: #000;
}

@media screen and (min-width: 480px) {
  .logo {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 93px;
  }
}

.nav-link-box {
  line-height: 80px;
  display: none;
}

.nav-link-box .relative {
  position: relative;
}

@media screen and (min-width: 480px) {
  .nav-link-box {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-link-box {
    display: block;
  }
}

.container-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container-main-nav {
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 294px;
  text-decoration: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .site-nav.list {
    margin-right: 305px;
  }
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current {
  position: relative;
  display: inline-block;
  height: 47.5px;
  color: #2196f3;
}

.auth-nav.list {
  display: none;
}

@media screen and (min-width: 480px) {
  .auth-nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.phone-icon,
.mail-icon {
  margin-right: 10px;
  fill: #757575;
}

.phone-icon:hover, .phone-icon:focus,
.mail-icon:hover,
.mail-icon:focus {
  fill: #2196f3;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-box,
.phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-box:hover .phone-icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-box:hover .mail-icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .mail-box {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mail-box {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.mail,
.tel {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mail:hover, .mail:focus,
.tel:hover,
.tel:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
}

footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .mail,
footer .tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container.footer {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container.footer {
    padding-left: 0;
    padding-right: 0;
  }
  .container.footer:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 215px;
    padding-right: 215px;
  }
}

@media screen and (min-width: 480px) {
  .footer_part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .footer_part {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer .logo-half-two {
  color: #ffffff;
}

.adress {
  margin-bottom: 8px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
}

.adress a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.adress.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.adress.auth .mail {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .adress.auth {
    margin-bottom: 0;
  }
}

.join-list-container {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.join-list-container .title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .join-list-container {
    width: 206px;
  }
  .join-list-container .title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: start;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .join-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

.join-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.join-list-box:hover {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list-icon {
  margin: auto;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .adress-container {
    margin-right: 70px;
    text-align: start;
    width: 231px;
  }
}

.subscribe-mailing {
  color: #ffffff;
  text-transform: uppercase;
  text-align: start;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 570px;
    height: 86px;
    margin-left: auto;
    margin-right: 0;
  }
}

.form-field-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-field-submit .submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form-field-submit {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.form-field-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer input[type="email"] {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer input[type="email"] {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 768px) {
  .footer input[type="email"] {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.form-field-mail input[placeholder="E-mail"] {
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.icon-send {
  margin-left: 10px;
}

.link.current::after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 4px;
  background-image: url(../img/line.svg);
  background-size: contain;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/*# sourceMappingURL=main.css.map */