.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container.features {
  padding-top: 60px;

  @media screen and (min-width: 480px) {
    padding-top: 94px;
  }
}

.list-item {
  background-color: $icon-background-color;
  display: flex;
  border-radius: 4px;
  height: 120px;
  // padding: 0;
  // margin: 0;

  & .icon {
    margin: auto;
  }
  @media screen and (min-width: 480px) {
    max-width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 270px;
  }
}

.feature-list {
  // background-color: red;
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;

  & .title {
    color: $title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    text-transform: uppercase;
    text-align: center;
  }

  &:nth-last-child(1) .text {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;

    &_item {
      width: calc((100% - 2 * 15px) / 2);
      margin-right: 15px;
      margin-right: 15px;
    }

    & .title {
      padding-top: 0px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    & .text {
      color: $primary-text-color;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;

    &_item {
      width: 270px;
    }

    & .title {
      padding-top: 0px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    & .text {
      color: $primary-text-color;
      margin-bottom: 0;
    }
  }
}

// &_item {
// width: 270px;
// }

// & .title {
//     color: $title-color;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;

//     text-transform: uppercase;

//     padding-top: 0px;
//     margin-bottom: 10px;
//     margin-top: 30px;
// }

// & .text {
//     color: $primary-text-color;
//     margin-bottom: 0;

// }
