.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container.features {
  padding-top: 94px;
}

.list-item {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: $icon-background-color;

  & .icon {
    margin: auto;
  }
}

.feature-list {
  background-color: red;

  @media screen and (min-width: 480px) {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;

    &_item {
      width: 270px;
    }

    & .title {
      color: $title-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;

      text-transform: uppercase;

      padding-top: 0px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    & .text {
      color: $primary-text-color;
      margin-bottom: 0;
    }
  }
}

// &_item {
// width: 270px;
// }

// & .title {
//     color: $title-color;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;

//     text-transform: uppercase;

//     padding-top: 0px;
//     margin-bottom: 10px;
//     margin-top: 30px;
// }

// & .text {
//     color: $primary-text-color;
//     margin-bottom: 0;

// }
