.client-box {
  width: calc((100% - 2 * 15px) / 2);

  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  margin-bottom: 30px;

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border: 1px solid $accent-color;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .icon {
    margin-bottom: 16px;
    margin-top: 16px;
    fill: #afb1b8;
  }

  &:hover .icon,
  &:focus .icon {
    fill: $accent-color;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 480px) {
    width: calc((100% - 2 * 15px) / 3);
    height: 92px;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    width: 170px;
    height: 92px;
    justify-content: center;
    margin-bottom: 0;
  }
}

.list.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    list-style: none;

    padding-left: 0px;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}

.container.clients {
  @media screen and (min-width: 768px) {
    padding-bottom: 94px;
  }
}
