.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $title-color;
  padding-top: 60px;
  margin-bottom: 30px;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.16;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
  }
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 2px solid tomato;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    width: 100vw;
  }

  @media screen and (min-width: 768px) {
    max-width: 100vw;
    padding-left: 215px;
    padding-right: 215px;
    padding-bottom: 94px;
  }
}
