.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $title-color;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
