.employees-section {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employees-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  & .text {
    color: $primary-text-color;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 0;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;

    & .text {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
    padding-left: 0px;
    margin: 0;

    & .text {
      margin-bottom: 30px;
    }
  }
}

.employee.box {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  & .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 480px) {
    // width: 270px;
    width: calc((100% - 2 * 15px) / 2);
  }
}

.employee_photo {
  width: 100%;
}

.employee-links {
  display: flex;
  list-style: none;
  padding-bottom: 24px;
  justify-content: center;
  padding-left: 0;

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
}

.link-box {
  display: flex;
  width: 44px;
  height: 44px;

  &:hover {
    width: 44px;
    height: 44px;
    background-color: $accent-color;
    border-radius: 50%;
    transform: background-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  &:hover .link-icon {
    fill: $icon-fill-color;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link-icon {
  margin: auto;
  fill: #afb1b8;
}
