footer {
  background-color: #2f303a;

  & .logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  & .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  & .mail,
  & .tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.container.footer {
  text-align: center;

  @media screen and (min-width: 480px) {
    padding-left: 0;
    padding-right: 0;
    &:not(:last-child) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 480px) {
  .footer_part {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
  }
}

.footer .logo-half-two {
  color: #ffffff;
}

.adress {
  margin-bottom: 8px;
  color: $hero-adress-title-color;
  font-style: normal;
  font-weight: 400;

  & a {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
  }
}

.adress.auth {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  & .mail {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 480px) {
  }
}

.join-list-container {
  color: $hero-adress-title-color;
  text-transform: uppercase;
  margin-bottom: 60px;

  & .title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 768px) {
    width: 206px;

    & .title {
      color: $hero-adress-title-color;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
    }
  }
}

.join-list {
  display: flex;
  width: 206px;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  margin: auto;
  @media screen and (min-width: 768px) {
    list-style: none;
    display: flex;
    justify-content: space-between;

    padding: 0;
  }
}

.join-list-box {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover {
    width: 44px;
    height: 44px;
    background-color: $accent-color;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.join-list-icon {
  margin: auto;
  fill: $icon-fill-color;
}

.adress-container {
  @media screen and (min-width: 768px) {
    margin-right: 70px;
  }
}

.subscribe-mailing {
  color: $hero-adress-title-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 20px;
}

.form {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 570px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-field-submit {
  display: flex;
  justify-content: center;

  & .submit-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $accent-color;
    border: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $hero-adress-title-color;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    align-items: flex-end;
  }
}

.form-field-mail {
  display: flex;
  flex-direction: column;
}

.footer input[type="email"] {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    margin-left: 166px;
    margin-right: 152px;
  }

  @media screen and (min-width: 768px) {
    width: 358px;
    height: 50px;
  }

  // margin-top: 0%;
}

.form-field-mail input[placeholder="E-mail"] {
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}

.icon-send {
  margin-left: 10px;
}
