$primary-text-color: #757575;
$title-color: #212121;
$hero-adress-title-color: #ffffff;
$accent-color: #2196f3;
$button-background-color: #f5f4fa;
$icon-background-color: #f5f4fa;
$icon-fill-color: #ffffff;
$background-color: #ffffff;
